.App {
  text-align: center;
  min-height: 100vh; /* make the app container take up the full height of the viewport */
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  width: 100%;
}
/* Overall App container */
.App {
  font-family: Arial, sans-serif;
}

/* Navigation bar */
nav {
  background-color: #333;
  color: white;
  padding: 10px;
  height: 80px;
}

/* Logo */
.logo {
  float: left;
  background-color: aliceblue;
  padding: 10px;
}

.logo h1 {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  color: blue;
}

/* Navigation links */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

ul li {
  display: inline;
  float: right;
}

ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

ul li a:hover {
  background-color: #555;
  font-weight: bolder;
}

/* Routes content */
.content {
  padding: 20px;
}
